apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: chat-authz-policy
  namespace: default
spec:
  selector:
    matchLabels:
      app: chat-backend
  action: ALLOW
  rules:
    - from:
        - source:
            requestPrincipals: ['https://oauth2.cat-herding.net/*']
    - to:
        - operation:
            paths: ['/api/health', '/metrics', '/api/docs*']
