apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - serviceaccount.yaml
  - configmap.yaml
  - secrets.yaml
  - redis.yaml
  - deployment.yaml
  - service.yaml
  - istio-gateway.yaml
  - istio-virtualservice.yaml
  - clusterissuer.yaml
  - certificate.yaml
  - secret-provider-class.yaml
  - authz-policy.yaml
